.sidebar {
  position: relative;
  button {
    &:hover {
      outline: none !important;

      * {
        outline: none !important;
        border: none !important;
      }
    }

    &:focus {
      outline: none !important;

      span {
        outline: none !important;
        border: none !important;
      }
    }
  }

  &Icon{
    display: flex;
    justify-content: center;
  }

  .main_logo {
    position: relative;
    height: 80px;
    width: 80px;
    margin: 5px 0;
    border-radius: 50%;
    top: 0;
  }
}
